<!-- news/templates/news/news_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Site - {{ news.title }}</title>
</head>
<body>
    <h1>{{ news.title }}</h1>
    <p>{{ news.text }}</p>
    {% if news.image %}
        <img src="{{ news.image.url }}" alt="{{ news.title }}">
    {% endif %}
    <p>Published on {{ news.created_at }}</p>
    <p>Author: {{ news.author.username }}</p>
    <a href="{% url 'blog' news.blog.id %}">Back to {{ news.blog.name }} Blog</a>
</body>
</html>
